.about-page{
    background-color: whitesmoke;
}
.about-page .row{
    align-items: center;
    
}
.about-page .info{
    margin-bottom: 100px;
}
.about-page .info h1{
    color: rgb(5, 91, 5);
    margin-bottom: 30px;

}
.about-page .info span{
    color:  chartreuse;

}
.about-page .info h3{
    color: rgb(83, 83, 83);
    font-size: 25px;
    line-height: 2;

}

/* vision */
.vision .row{
    border-radius: 25px;
    
}
.vision .row .info-Vision h1 span{
    color:  chartreuse;

}

/* info-why */
.why .info-why h1{
    color: rgb(5, 91, 5);

}
.why .info-why h1 span{
    color:  chartreuse;

}
.why .info-why i{
    color: rgb(5, 91, 5);
    font-size: 60px;

}
.why .info-why h5{
  font-weight: bold;

}
.why .info-why p{
    font-weight: bold;
    color: grey;
    font-size: 18px;
    line-height: 2;
  }

  .form-floating input {
width: 100%;
padding: 13px 10px;
border: 1px solid white;
border-radius: 20px;
outline: none;
font-weight: 500;
font-size: 18px;


  }
  .form-floating textarea {
    width: 100%;
    padding: 13px 10px;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    max-height: 300px;
    
      }
      /* .contact */
 
  

  .contact  .collg--6 h1{
    color: rgb(5, 91, 5);
    font-size: 60px;
    font-weight: bold;
  }
  .contact  .col-lg-6 p{
    color: rgb(5, 91, 5);
    font-size: 20px;
    font-weight: bold;
  }