.we{
background-color: whitesmoke;
}
.info-we h1{
color: rgb(19, 115, 51);
font-size: 60px;
}
.info-we h2{
   line-height: 2;
    }
 
    .cards-we .row .col-lg-6 .img-we img{
        border-radius: 50px;
        width: 100px;
    }
   .row .col-lg-6  h3{
  font-weight: bold;
}
.cards-we .row .col-lg-6  p{
    font-weight: bold;
    color: rgb(19, 115, 51);
    font-size: 18px;

  }


  



  /* How */

  .img-how img {
    border-radius: 25px;
  }
  .info-how h1{
    color: rgb(19, 115, 51);
    font-weight: bold;
    width: 90%;
  }
  .info-how p{
    font-size: 22px;
    line-height: 2;
    color: gray;
    font-weight: bold;
    margin-top: 20px;
  }
  .how .btn-success{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px
  }

  @media screen and (max-width: 700px) {
     .row .col-lg-6  h3{
font-size: 25px; 

}
.how .btn-success{
  
  margin-top: 2px
}
  }
