
.toggleSection h2{
    font-weight: bold;
    color: #987A54;
text-align: center;
margin: 100px 0;
  }
  
  .section1 {
    border: 2px solid #987A54; 
    margin: 10px auto; /* تعديل الهامش ليكون أفقيًا أيضًا */
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out; /* إضافة انتقال للخلفية */

  }
  
  .section1.active {
    background-color: rgb(5, 91, 5);
  }
  .section1.active ~ .section-header {
    color: white;
  }
  .section-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    padding: 15px;
    font-weight: bold;
  }
  
  .section-header i {
    font-size: 18px;
    color: #987A54;
  }
  
  .section-content {
    margin: 10px auto; /* تعديل الهامش ليكون أفقيًا أيضًا */
    border: 2px solid #987A54;
    padding: 10px;
    font-size: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden; /* إضافة overflow: hidden; لإخفاء المحتوى الزائد */
    transition: max-height 0.4s ease-in-out ,  opacity 0.5s ease-in-out; /* تطبيق انتقال على max-height و opacity بنفس المدة */
    color: rgb(5, 91, 5);

  }
  
  .section-content.active {
    max-height: 500px; /* أو أي قيمة مناسبة لمحتوى القسم */
    opacity: 1;

  }


  .info-questions h1{
    color: rgb(5, 91, 5);
    font-weight: bold;
  }

  .info-questions  h1 span{
    color: greenyellow;
    font-weight: bold;
}


@media screen and (max-width: 2050px) {
  .img-questions{
    width: 75%;
  }

}
@media screen and (max-width: 1300px) {
  .img-questions{
    width: 100%;
  }

}